.contentWrapper{
    z-index: 1;
    border-radius: .7em;
    position: relative;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    width: 100%;
    padding: 2em;
    padding-top: 2em;
}

.restaurantInfoWrapper{
    display: flex;
    align-items: center;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1em;
    gap: 2em;
    margin-bottom: 2em;
}
.saveBtn{
    box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1.2em;
    margin-left: -1em;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1em;
    font-weight: 400;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    background-color:#526d82; 
    border-radius: .8em;
    color: #dde6ed;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.inputFieldsWrapper{
    display: flex;
    gap: 2em;
}

.inputFields{
    padding: 1em;
    margin-bottom: 1.2em;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1em;
    font-weight: 400;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    background-color: #dde6ed;
    border-radius: .8em;
    color: #526d82;
}

.inputFields:focus{
    outline: none;
  }

.inputFields::placeholder{
    color: #526d82de;
}

.subTitle{
    color: #526d82;
    margin-top: 0;
    margin-bottom: 1em;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.2em;
}

.icon{
    margin-right: 0.5em;
}