.left-navigation {
    background-color: #27374d;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 5em;
    padding-bottom: 5em;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: auto;
  }
  
  .navigation-top {
    flex-flow: column;
    align-items: center;
    display: flex;
  }
  
  .navigation-text {
    color: #dde6ed;
    margin-top: 1.28em;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Sf Pro Display, sans-serif;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
  }
  
  .line {
    width: 80%;
    margin-bottom: -20px;
    line-height: 1em;
  }
  
  .header {
    z-index: 2;
    background-color: #526d82;
    border-radius: .9em;
    justify-content: space-between;
    align-items: center;
    padding: 1.1em 1.92em;
    display: flex;
    position: relative;
  }
  
  .previewLinkBlock {
    padding: .2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .previewSvg {
    width: 20px;
    margin-left: .3em;
  }
  
  .normal {
    clear: none;
    color: #dde6ed;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1.9em;
    font-weight: 400;
    line-height: 1.2em;
  }

  
  .saveBtn {
    float: right;
    background-image: url('/images/button-hover.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 1.5em;
    margin-right: 1.5em;
    padding: 20px 51px 24px;
    font-family: Sf Pro Display, sans-serif;
    font-size: .9em;
    font-weight: 400;
    text-decoration: none;
  }
  
  .saveBtnEtlap {
    color: #dde6ed;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1em;
    text-decoration: none;
  }
  
  .paragraphEtlap {
    color: #dde6ed;
    text-align: center;
    width: 100%;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1.1em;
    font-weight: 400;
  }

  .contentWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.1em 1.92em;
    margin-top: 2em;
    border-radius: .7em;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
  }
  
  .tabContainer {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    border-right: 3px solid #27374d;
  }
  
  .tabItem {
    display: flex;
    align-items: center;
    margin-bottom: 0; /* Remove margin between tab items */
  }
  
  .tabButton {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border: none;
    background-color: #526d82;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;
    margin-bottom: 0;
    color: #dde6ed; /* Remove margin below buttons */
  }
  
  .tabButton:hover {
    background-color: #526d82b3;
    color: #27374d;
  }
  
  .activeTab {
    background-color: #27374d;
  }
  
  .iconContainer {
    display: flex;
    align-items: center;
  }
  
  .icon {
    cursor: pointer;
    margin-left: 0.5em;
  }
  
  .icon:hover {
    background-color: #e0e0e0;
    border-radius: 4px;
  }
  
  .tabInput {
    flex-grow: 1;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .mealContent {
    flex-grow: 1;
    margin-left: 2em;
  }
  
  .mealForm {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
  }
  
  .mealForm input{
    padding: 0.8em;
    margin-bottom: 1.2em;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1em;
    font-weight: 400;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    background-color: #dde6ed;
    border-radius: .8em;
    color: #526d82;
  }

  .mealForm input:focus{
    outline: none;
  }
  .mealForm input::placeholder{
    color: #526d82de;
}
  
  .mealForm input[type="file"] {
    border: none;
  }
  
  .addButton {
    font-family: Sf Pro Display, sans-serif;
    font-size: 1em;
    margin-top: 1em;
    padding: 0.6em 1em;
    border: none;
    background-color: #526d82;
    color: #dde6ed;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .removeButton {
    background-color: #dde6ed;
    border-width: 2px;
    border-color: #27374d;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1em;
    margin-top: 1em;
    padding: 0.6em 1em;
    border: none;
    background-color: #526d82;
    color: #dde6ed;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .addButton:hover {
    background-color: #526d82d1;
  }
  
  .removeButton:hover {
    background-color: #526d82d1;
  }
  
  .addTabButton {
    font-family: Sf Pro Display, sans-serif;
    font-weight: 600;
    margin-top: 0; /* Remove margin above the button */
    padding: 0.5em;
    border: none;
    background-color: #526d82;
    color: #dde6ed;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
  }
  
  .addTabButton:hover {
    background-color: #526d82d1;
  }
  

  .formWrapper{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    gap: 1em;
  }

  .uploadLabel {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 1em;
    display: inline-flex;
    align-items: center;
    padding: 0.5em 1em;
    border-radius: 5px;
    background-color: #526d82;
    color: #dde6ed;
    cursor: pointer;
    transition: background-color 0.1s ease;
    width: 26%;
  }
  
  .uploadLabel:hover {
    background-color: #435a70;
  }
  
  .uploadIcon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  /* Wrapper for file uploader */
.fileUploader {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

/* Custom upload button styling */
.fileUploadButton {
  background-color: #526d82;
  color: #dde6ed;
  padding: 0.7em 1.5em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: background-color 0.1s ease;
  border: none;
}

/* Hover effect for the upload button */
.fileUploadButton:hover {
  background-color: #526d82d1;
}

/* Icon styling */
.uploadIcon {
  width: 18px;
  height: 18px;
  margin-right: 8px; /* Space between icon and text */
  stroke: white;
}

/* Hide the default file input */
.fileInput {
  display: none;
}
