.left-navigation {
    background-color: #27374d;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 5em;
    padding-bottom: 5em;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: auto;
  }
  
  .navigation-top {
    flex-flow: column;
    align-items: center;
    display: flex;
  }
  
  .navigation-text {
    color: #dde6ed;
    margin-top: 1.28em;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Sf Pro Display, sans-serif;
    font-weight: 500;
    text-decoration: none;
  }
  
  .line {
    width: 80%;
    margin-bottom: -20px;
    line-height: 1em;
  }
  
  .header {
    z-index: 2;
    background-color: #526d82;
    border-radius: .9em;
    justify-content: space-between;
    align-items: center;
    padding: 1.1em 1.92em;
    display: flex;
    position: relative;
  }
  
  .previewLinkBlock {
    padding: .2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .previewSvg {
    width: 20px;
    margin-left: .3em;
  }
  
  .normal {
    clear: none;
    color: #dde6ed;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1.9em;
    font-weight: 400;
    line-height: 1.2em;
  }

  
  .contentWrapper {
    padding-bottom: 2em;
  }
  
  .listWrapper {
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 1.5em;
    margin-right: 1.5em;
    display: flex;
  }
  
  .listItems {
    z-index: 1;
    border-radius: .7em;
    width: 42%;
    padding: 4em 1.92em 1.92em 3.21em;
    position: relative;
    top: -16px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
  }
  
  
  .listItemLeftWrapper {
    align-items: center;
    display: flex;
    border-radius: .8em;
    margin-bottom: 1.5em;
    padding: 1.6em;
    display: flex;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    justify-content: space-between;
  }

  .rightArrow{
    float: right;
  }
  
  .listItemRight {
    border-radius: .8em;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5em;
    padding: 1.6em;
    display: flex;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  }
  
  .listItemText {
    color: #526d82;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1em;
    border:none;
    background-color: transparent;
    caret-color: #526d82;
  }

  .listItemText::placeholder {
    color: #526d82;
    opacity: 1; 
  }
  
  .listItemText:focus::placeholder {
    color: transparent; 
  }
  
  .listItemText:focus {
    outline: none;
    border-color: #526d82;
  }

  .grabLinkBlock {
    margin-right: 0;
  }
  
  .newCategoryWrapper {
    margin-top: 3.85em;
    padding-bottom: .8em;
  }
  
  .newCategoryTextWrapper {
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
  }
  
  .plusIcon {
    margin-right: 1em;
  }
  
  .newCategoryText {
    color: #526d82;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1em;
  }
  
  .grabIcon {
    margin-right: .96em;
  }
  
  .grabIcon.smaller {
    width: 16px;
  }
  
  .listItemTextLighter {
    color: #526d82;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1em;
  }
  
  .saveBtn {
    float: right;
    background-image: url('/images/button-hover.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 1.5em;
    margin-right: 1.5em;
    padding: 20px 51px 24px;
    font-family: Sf Pro Display, sans-serif;
    font-size: .9em;
    font-weight: 400;
    text-decoration: none;
  }
  
  .saveBtnEtlap {
    color: #dde6ed;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1em;
    text-decoration: none;
  }
  
  .paragraphEtlap {
    color: #dde6ed;
    text-align: center;
    width: 100%;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1.1em;
    font-weight: 400;
  }
  
  .paragraphEtlap.darkBg {
    text-align: left;
  }
  
  .paragraphEtlap.paragraphSmall {
    width: 37%;
  }
  