.left-navigation {
    background-color: #27374d;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 5em;
    padding-bottom: 5em;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: auto;
  }
  
  .navigation-top {
    flex-flow: column;
    align-items: center;
    display: flex;
  }
  
  .navigation-text {
    color: #dde6ed;
    margin-top: 1.28em;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Sf Pro Display, sans-serif;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
  }
  
  .line {
    width: 80%;
    margin-bottom: -20px;
    line-height: 1em;
  }
  
  .header {
    z-index: 2;
    background-color: #526d82;
    border-radius: .9em;
    justify-content: space-between;
    align-items: center;
    padding: 1.1em 1.92em;
    display: flex;
    position: relative;
  }
  
  .previewLinkBlock {
    padding: .2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .previewSvg {
    width: 20px;
    margin-left: .3em;
  }
  
  .normal {
    clear: none;
    color: #dde6ed;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1.9em;
    font-weight: 400;
    line-height: 1.2em;
  }

  
  .saveBtn {
    float: right;
    background-image: url('/images/button-hover.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 1.5em;
    margin-right: 1.5em;
    padding: 20px 51px 24px;
    font-family: Sf Pro Display, sans-serif;
    font-size: .9em;
    font-weight: 400;
    text-decoration: none;
  }
  
  .saveBtnEtlap {
    color: #dde6ed;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1em;
    text-decoration: none;
  }
  
  .paragraphEtlap {
    color: #dde6ed;
    text-align: center;
    width: 100%;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1.1em;
    font-weight: 400;
  }

  .contentWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    border-radius: .7em;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
    min-height: 60vh;
  }

  .itemsContainer{
    display: flex;
    overflow: hidden;
  }
  
  .tabContainer {
    display: flex;
    flex-direction: column;
    padding-top: 1.92em;
    padding-bottom: 1.92em; 
    justify-content: space-between;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.107);

  }
  
  .tabItem {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-right: 1em;
    width: 150px;

  }
  
  .tabButton {
    font-family: Sf Pro Display, sans-serif;
    font-size: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 1.1em;
    border: none;
    background-color: #dde6ed;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;
    margin-bottom: 0;
    color: #526d82;
    opacity: 70%;
    border-radius: 0px 4px 4px 0px;
  }
  
  
  .activeTab {
    background-color: #526d82;
    color: #dde6ed;
    opacity: 100%;
  }
  
  .tabInput:focus {
    outline: none;
  }

  .iconContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
    gap: 0.5em;
  }
  
  
  
  .tabInput {
    width: 100%;
    padding: 1.1em;
    background-color: #dde6ed;
    border: none;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1em;
    color: #526d82;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: background-color 0.3s;
  }
  
  .mealContent {
    flex-grow: 1;
    margin-left: 2em;
    padding-top: 1.92em;
  }
  
  .mealForm {
    display: flex;
    flex-direction: column;
  }
  
  .mealForm input{
    padding: 0.8em;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1em;
    font-weight: 400;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    background-color: #dde6ed;
    border-radius: .8em;
    color: #526d82;
  }

  .mealForm input:focus{
    outline: none;
  }
  .mealForm input::placeholder{
    color: #526d82de;
}
  
  .mealForm input[type="file"] {
    border: none;
  }
  
  .addButton {
    font-family: Sf Pro Display, sans-serif;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 0.6em 1em;
    border: none;
    background-color: #526d82;
    color: #dde6ed;
    border-radius: 4px;
    cursor: pointer;
  }
  

  
  .addButton:hover {
    background-color: #526d82d1;
  }
  
  .removeButton{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
    color: #526d82;;
    
  }
  
  .addTabButton {
    font-family: Sf Pro Display, sans-serif;
    font-weight: 500;
    margin-top: 0; /* Remove margin above the button */
    padding: 0.65em;
    border: none;
    background-color: transparent;
    color: #526d82;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
    width: 70%;
    border-radius: 0 4px 4px 0px;

  }

  .formWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 1em;
  }

  .uploadLabel {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 1em;
    display: inline-flex;
    align-items: center;
    padding: 0.5em 1em;
    border-radius: 5px;
    background-color: #526d82;
    color: #dde6ed;
    cursor: pointer;
    transition: background-color 0.1s ease;
    width: 26%;
  }
  
  .uploadLabel:hover {
    background-color: #435a70;
  }
  
  .uploadIcon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  /* Wrapper for file uploader */
.fileUploader {
  display: flex;
  align-items: center;
}


.fileUploadButton {
  font-family: 'SF Pro Display', sans-serif;
  background-color: #526d82;
  color: #dde6ed;
  padding: 0.6em 1em;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  margin-bottom: 3em;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: background-color 0.1s ease;
  border: none;
  margin-top: 1em;
}

/* Hover effect for the upload button */
.fileUploadButton:hover {
  background-color: #526d82d1;
}


.uploadIcon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  stroke: white;
}

.fileInput {
  display: none;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  flex-direction: column;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #526d82; /* Dark grey/blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderWrapper p {
  margin-top: 1em;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 1.2em;
  color: #526d82;
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popupContent {
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.popupButtons {
  display: flex;
  justify-content: space-between;
}

.okButton {
  background-color: #526d82;
  color: white;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancelButton {
  background-color: #aaa;
  color: white;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.okButton:hover {
  background-color: #435a70;
}

.cancelButton:hover {
  background-color: #888;
}

.fileUploadButton {
  display: flex;
  align-items: center;
  background-color: #526d82;
  color: white;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
}

.uploadIcon {
  margin-right: 8px;
}

.fileInput {
  display: none;
}

.uploadedImage {
  max-width: 150px;
  max-height: 150px;
  border-radius: 10px;
  margin-top: 10px;
}

.mealForm p {
  margin: 0;
  padding: 0.5em;
  background-color: #dde6ed;
  border-radius: 5px;
  font-family: "Sf Pro Display", sans-serif;
  color: #526d82;
}

.mealImage {
  margin-top: 10px;
}
