.dashboardWrapper {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.topSection{
    display: flex;
}

.leftColumn{
    width: 66%;
}

.dashboardKpi{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: .8em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.KpiCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.KpiCardValue {
    color: #27374d;
    margin-bottom: 0em;
    font-family: Sf Pro Display, sans-serif;
    font-size: 2em;
    font-weight: 700;
    line-height: 0.5em;
}

.KpiCardTitle {
    color: #27374d;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
}

.dashDonut{
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: .8em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.dashBar{
    margin-left: 2em;
    margin-bottom: 2em;
    width: 33%;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: .8em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.dashLine{
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: .8em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}