:root {
    --light-text: #dde6ed;
    --white: white;
    --black: black;
}



body {
    margin: 0;
    background-color: #dde6ed;
    font-family: Sf Pro Display, sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 65%;
}

a {
    text-decoration: none;
}

.link {
    color: #dde6ed;
    font-family: Sf Pro Display, sans-serif;
    font-size: 1.28em;
    line-height: 1em;
    text-decoration: none;
}