.MenuHeader{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}


.Title{
    margin: 0;
    font-family: Oswald,sans-serif;
    font-size: 2em;
    line-height: 130%;
    font-weight: 700;
    text-transform: uppercase;
    color: #27374d;
}

.SubTitle{
    margin: 0;
    font-family: Oswald,sans-serif;
    font-size: 1.5em;
    line-height: 130%;
    font-weight: 500;
    text-transform: uppercase;
    color: #27374d;
}


.upperItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
    position: relative;
    width: 100%;
}


.dropdown {
    background-color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    color: #526d82;
    cursor: pointer;
    width: 30%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    text-align: left;
    transition: background-color 0.1s ease;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
}

/* Dropdown menu */
.dropdownMenu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    position: absolute; /* Ensure the dropdown list is positioned absolutely within the relative parent */
    top: 100%; /* Position the dropdown list just below the dropdown */
    left: 35.4%;
    width: 31%; /* Match the width of the dropdown */
    z-index: 10;
}


.dropdownItem {
    padding: 0.8em 1em;
    cursor: pointer;
    font-size: 1.2em;
    color: #526d82;
    transition: background-color 0.25s ease, color 0.25s ease;
}


.dropdownItem:hover {
    background-color: #27374d;
    color: #dde6ed;
}

/* Title styling */
.selectedTitle {
    font-family: Sf Pro Display, sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: #27374d; 
}

.upperItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7em;
}

.MenuContentWrapper{
    padding-top: 5em;
    padding-left: 15%;
    padding-right: 15%;
}

.MealsWrapper {

    display: flex;
    flex-direction: column;
    gap: 7em;
    justify-content: left;
    padding-top: 5em;
    padding-bottom: 5em;
}

.MealItemWrapper{
    background-color: #fafafa;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    padding-left: 4em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 1em;
    position: relative;
    cursor: pointer;
}

.MealItemContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.description{
    max-width: 60%;
    font-family: Oswald,sans-serif;
    color: #27374d;
    margin: 0;
    font-size: 1em;
    
}

.MealTitle{
    margin-top: 1.5em;
    margin-bottom: 0.3em;
    font-family: Oswald,sans-serif;
    font-size: 1.5em;
    line-height: 130%;
    font-weight: 700;
    color: #27374d;
}

.currency{
    margin-left: 0.2em;
}

.price , .currency{
    color: #27374d;
    font-family: Oswald,sans-serif;
    font-size: 1em;
    font-weight: 600;
}

.imagePlaceholder{
    width: 90px;
    height: 90px;
    background-color:#27374d;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 0.5em;
    position: absolute;
    bottom: 75%;
    left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: #dde6ed;
}

.valami{
    display: flex;
    flex-direction: row;
}

.closeButton{
    color: #526d82;
    font-size: 1.5em;
}


@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes floatIn {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes floatOut {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-50px);
      opacity: 0;
    }
  }
  
  .popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: fadeIn 0.6s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  }
  
  .popupOverlay.closing {
    animation: fadeOut 0.6s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  }
  
  .popupContent {
    background-color: #fff;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 3em;
    padding-bottom: 1em;
    border-radius: 1em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 30%;
    animation: floatIn 0.6s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  }
  
  .popupOverlay.closing .popupContent {
    animation: floatOut 0.6s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  }
  
  .popupImage {
    width: 25%;
    height: 125px;
    border-radius: 1em;
    background-color: #27374d;
    object-fit: cover;
    position: absolute;
    bottom: 85%;
    left: 37.5%;
  }
  
  .popupTitle {
    font-family: Oswald, sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    color: #27374d;
    margin-bottom: 0.2em;
  }

  .popupWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .allergensWrapper{
    display: flex;
    flex-direction: row;
  }
  
  .popupDescription {
    font-family: Oswald, sans-serif;
    font-size: 1.2em;
    color: #526d82;
    margin-bottom: 1em;
  }
  
  .popupAllergens {
    font-family: Oswald, sans-serif;
    font-size: 1em;
    color: #526d82;
    margin-bottom: 1em;
    font-weight: 600;
    margin-right: 1em;
  }
  
  .popupAllergensList{
    font-family: Oswald, sans-serif;
    font-size: 1em;
    color: #526d82;
    margin-bottom: 1em;
  }

  .popupPriceWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popupPrice {
    font-family: Oswald, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: #27374d;
  }
  
  .closePopup {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #27374d;
  }
  
  
@media (max-width: 768px) {
    .Title{
        font-size: 1.4em;
    }

    .SubTitle{
        font-size: 1.1em;
    }

    .dropdown{
        width: 50%;
    }

    .dropdownMenu{
        width: 50%;
        left: 31.5%;
    }
    
    .imagePlaceholder{
        width: 70px;
        height:  70px;
        left: 10%;
    }

    .MealTitle{
        font-size: 1.2em;
    }

    .MealItemWrapper{
        padding-right: 1em;
        padding-left: 1em;
    }
    


}