.MenuHeader{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}


.Title{
    margin: 0;
    font-family: Oswald,sans-serif;
    font-size: 2em;
    line-height: 130%;
    font-weight: 700;
    text-transform: uppercase;
    color: #27374d;
}

.SubTitle{
    margin: 0;
    font-family: Oswald,sans-serif;
    font-size: 1.5em;
    line-height: 130%;
    font-weight: 500;
    text-transform: uppercase;
    color: #27374d;
}


.upperItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
    position: relative;
    width: 100%;
}


.dropdown {
    background-color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    color: #526d82;
    cursor: pointer;
    width: 30%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    text-align: left;
    transition: background-color 0.1s ease;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
}

/* Dropdown menu */
.dropdownMenu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    position: absolute; /* Ensure the dropdown list is positioned absolutely within the relative parent */
    top: 100%; /* Position the dropdown list just below the dropdown */
    left: 35.4%;
    width: 31%; /* Match the width of the dropdown */
    z-index: 10;
}

/* Dropdown items */
.dropdownItem {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    color: #526d82;
    transition: background-color 0.25s ease, color 0.25s ease;
}

/* Hover effect for dropdown items */
.dropdownItem:hover {
    background-color: #27374d; /* Change to your desired hover color */
    color: #dde6ed; /* Change to your desired text color */
}

/* Title styling */
.selectedTitle {
    font-family: Sf Pro Display, sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: #27374d; 
}

.upperItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7em;
}

.MenuContentWrapper{
    padding-top: 5em;
    padding-left: 15%;
    padding-right: 15%;
}

.MealsWrapper {

    display: flex;
    flex-direction: column;
    gap: 7em;
    justify-content: left;
    padding-top: 5em;
    padding-bottom: 5em;
}

.MealItemWrapper{
    background-color: #fafafa;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    padding-left: 4em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 1em;
    position: relative;
}

.MealItemContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.description{
    max-width: 60%;
    font-family: Oswald,sans-serif;
    color: #27374d;
    margin: 0;
    font-size: 1em;
    
}

.MealTitle{
    margin-top: 1.5em;
    margin-bottom: 0.3em;
    font-family: Oswald,sans-serif;
    font-size: 1.5em;
    line-height: 130%;
    font-weight: 700;
    color: #27374d;
}

.currency{
    margin-left: 0.2em;
}

.price , .currency{
    color: #27374d;
    font-family: Oswald,sans-serif;
    font-size: 1em;
    font-weight: 600;
}

.imagePlaceholder{
    width: 90px;
    height: 90px;
    background-color:#27374d;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 0.5em;
    position: absolute;
    bottom: 75%;
    left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: #dde6ed;
}

.valami{
    display: flex;
    flex-direction: row;
}